

<%= render @friend %>

<!--
<div>

  <%= link_to "Edit ", edit_friend_path(@friend), class:"btn btn-secondary" %> 
  <%= link_to "Back ", friends_path,class:"btn btn-dark my-3 " %>

  <%= button_to "Destroy this friend", @friend, method: :delete,class:"btn btn-secondary my-3 " %>
</div>
-->