<h1>About Us </h1>

<p>
<b>
<%= @about_me%>
</b>
<br> This is my Friend List APP Based on <b>CRUD</b>(CREATE, READ, UPDATE and DELETE) model of RAILS in which you can 
    
    <ul>
    <li>ADD</li>  
    <li>READ</li> 
    <li>UPDATE</li> 
    <li>DELETE</li>
    </ul>
    your Friends. By using it you can easily maintain your friend's contact information in case you lost your frind's contact you can Consult your friend list to get his/her contact again.
</p>